/* Borders */
[class*="border"] {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
[class*="border"][class*="-dashed"] {
  border-style: dashed;
}
[class*="border"][class*="-thick"] {
  border-width: 4px;
}
[class*="border-red"] {
  border-color: red;
}
[class*="border-blue"] {
  border-color: blue;
}
[class*="border-yellow"] {
  border-color: yellow;
}
[class*="border-white"] {
  border-color: white;
}
[class*="border-black"] {
  border-color: black;
}
[class*="border-grey10"] {
  border-color: rgb(240 240 240);
}
[class*="border-grey20"] {
  border-color: rgb(104 104 104);
}
[class*="border-grey30"] {
  border-color: rgb(179 179 179);
}
[class*="border-grey40"] {
  border-color: rgb(153 153 153);
}
[class*="border-grey50"] {
  border-color: rgb(128 128 128);
}
[class*="border-grey60"] {
  border-color: rgb(102 102 102);
}
[class*="border-grey70"] {
  border-color: rgb(77 77 77);
}
[class*="border-grey80"] {
  border-color: rgb(51 51 51);
}
[class*="border-grey90"] {
  border-color: rgb(26 26 26);
}

/* Background Colors */
[class*="bcolor-red"] {
  background: red;
}
[class*="bcolor-blue"] {
  background: blue;
}
[class*="bcolor-yellow"] {
  background: yellow;
}
[class*="bcolor-white"] {
  background: white;
}
[class*="bcolor-black"] {
  background: black;
}
[class*="bcolor-grey10"] {
  background: rgb(240 240 240);
}
[class*="bcolor-grey20"] {
  background: rgb(104 104 104);
}
[class*="bcolor-grey30"] {
  background: rgb(179 179 179);
}
[class*="bcolor-grey40"] {
  background: rgb(153 153 153);
}
[class*="bcolor-grey50"] {
  background: rgb(128 128 128);
}
[class*="bcolor-grey60"] {
  background: rgb(102 102 102);
}
[class*="bcolor-grey70"] {
  background: rgb(77 77 77);
}
[class*="bcolor-grey80"] {
  background: rgb(51 51 51);
}
[class*="bcolor-grey90"] {
  background: rgb(26 26 26);
}
/* Text Colors */
[class*="tcolor-red"] {
  color: red;
}
[class*="tcolor-blue"] {
  color: blue;
}
[class*="tcolor-yellow"] {
  color: yellow;
}
[class*="tcolor-white"] {
  color: white;
}
[class*="tcolor-black"] {
  color: black;
}
[class*="tcolor-grey10"] {
  color: rgb(240 240 240);
}
[class*="tcolor-grey20"] {
  color: rgb(104 104 104);
}
[class*="tcolor-grey30"] {
  color: rgb(179 179 179);
}
[class*="tcolor-grey40"] {
  color: rgb(153 153 153);
}
[class*="tcolor-grey50"] {
  color: rgb(128 128 128);
}
[class*="tcolor-grey60"] {
  color: rgb(102 102 102);
}
[class*="tcolor-grey70"] {
  color: rgb(77 77 77);
}
[class*="tcolor-grey80"] {
  color: rgb(51 51 51);
}
[class*="tcolor-grey90"] {
  color: rgb(26 26 26);
}



/* Fill Colors */
[class*="fcolor-red"] {
  fill: red;
}
[class*="fcolor-blue"] {
  fill: blue;
}
[class*="fcolor-yellow"] {
  fill: yellow;
}
[class*="fcolor-white"] {
  fill: white;
}
[class*="fcolor-black"] {
  fill: black;
}
[class*="fcolor-grey10"] {
  fill: rgb(240 240 240);
}
[class*="fcolor-grey20"] {
  fill: rgb(104 104 104);
}
[class*="fcolor-grey30"] {
  fill: rgb(179 179 179);
}
[class*="fcolor-grey40"] {
  fill: rgb(153 153 153);
}
[class*="fcolor-grey50"] {
  fill: rgb(128 128 128);
}
[class*="fcolor-grey60"] {
  fill: rgb(102 102 102);
}
[class*="fcolor-grey70"] {
  fill: rgb(77 77 77);
}
[class*="fcolor-grey80"] {
  fill: rgb(51 51 51);
}
[class*="fcolor-grey90"] {
  fill: rgb(26 26 26);
}

/* TEXT */

/*| ---- Alignment -------------------------------- |*/
[class*="text"][class*="-alignL"] {
  text-align: left;
}
[class*="text"][class*="-alignR"] {
  text-align: right;
}
[class*="text"][class*="-alignC"] {
  text-align: center;
}
[class*="text"][class*="-alignJ"] {
  text-align: justify;
}

/*| ---- Styling -------------------------------- |*/
[class*="text"][class*="-italic"] {
  font-style: italic;
}
[class*="text"][class*="-bold"] {
  font-style: bold;
}
[class*="text"][class*="-underline"] {
  font-style: underline;
}

/*| ---- Text Colors -------------------------------- |*/
.text-red {
  color: red;
}
.text-blue {
  color: blue;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
.text-orange {
  color: orange;
}
.text-black {
  color: black;
}
.text-white {
  color: white;
}
.text-grey10 {
  color: rgb(230, 230, 230);
}
.text-grey20 {
  color: rgb(204, 204, 204);
}
.text-grey30 {
  color: rgb(179, 179, 179);
}
.text-grey40 {
  color: rgb(153, 153, 153);
}
.text-grey50 {
  color: rgb(128, 128, 128);
}
.text-grey60 {
  color: rgb(102, 102, 102);
}
.text-grey70 {
  color: rgb(77, 77, 77);
}
.text-grey80 {
  color: rgb(51, 51, 51);
}
.text-grey90 {
  color: rgb(26, 26, 26);
}

