/*| ==== Global Element Styles ============================ |*/
/*
* {
  box-sizing: border-box;
  background: black;
}
*/
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*| ==== Typography ============================ |*/

.cleanlink {
  color: darkgrey;
}

.cleanlink:hover {
  color: grey;
}

.cleanlink:active {
  color: white;
}



/* social icons */

.test {
  width: 50px;
  border: 1px solid white;
box-sizing: border-box;
}

